
ion-content {
    //   --background: transparent !important;
}
ion-label {
    display: block;
    font-family: 'IBM Plex Sans', sans-serif !important;
}
.group {
    padding: 10px 15px;
    width: 100%;
    background: #fff !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
    .mainContent {
        padding: 5px 10px;
        font-family: 'IBM Plex Sans', sans-serif !important;
        .savedTitle {
            font-weight: bold;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .noData {
            border-radius: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100%;
            height: 250px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .list {
            margin-top: 20px;
            position: relative;
            font-family: 'IBM Plex Sans', sans-serif !important;
            // display: flex;
            // flex-wrap: nowrap;
            overflow-x: auto;
            &::-webkit-scrollbar {
                display: none;
            }
            .scroll-item {
                flex: 0 0 auto;
            }
            .title {
                font-weight: bold;
                color: black;
                font-size: 17px;
                white-space: pre-wrap;
                text-transform: capitalize;
                margin-bottom: 5px;
            }
            .name {
                color: gray;
                font-size: 13px;
            }
            .moreIcon {
                position: absolute;
                right: 0px;
                top: 1px;
            }
        }
    }
}
