
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="util.back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{util.translate('Pay with Cards')}}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="onAdd()">
        <ion-icon slot="end" name="add"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div_content">
    <div *ngIf="!cards?.length && !dummy?.length">
      <p class="ion-text-center">{{util.translate('No Card Found Please Add Card')}}</p>
    </div>
    <ion-item *ngFor="let item of dummy">
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-radio-group [(ngModel)]="token">
      <ion-item class="div_inner" lines="none" *ngFor="let card of cards;let i = index">
        <ion-thumbnail slot="end"
          style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
          <ion-label>{{card.brand}} </ion-label>
        </ion-thumbnail>
        <ion-radio (ionSelect)="changeMethod(card.id)" [value]="card.id" slot="start"></ion-radio>
        <ion-label>XXXX{{card.last4}} <br> {{util.translate('Expiry')}} {{card.exp_month}} / {{card.exp_year}}
        </ion-label>
      </ion-item>
    </ion-radio-group>
    <ion-button expand="block" *ngIf="cards?.length" class="btn_addcard" (click)="payment()">
      {{util.translate('Payment')}}
      <span *ngIf="util.cside === 'left'"> {{util.currecny}} {{cart.grandTotal}}</span>
      <span *ngIf="util.cside === 'right'"> {{cart.grandTotal}} {{util.currecny}}</span>

    </ion-button>

    <ion-button expand="block" class="btn_class" class="btn_addcard" (click)="onAdd()">
    </ion-button>

  </div>
</ion-content>