
<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-title> {{name}} </ion-title> -->
  <ion-title style="margin-top: 20px;"><b>{{util.translate('Chat with Foodie')}}</b></ion-title>
  <div *ngIf="!loaded" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <ion-spinner color="primary" name="crescent"></ion-spinner>
  </div>
  <div class="main_content_div" *ngIf="loaded">

    <span *ngFor="let item of messages">
     

      <div class="right_div" *ngIf="item.from_id == uid">
        <div class="inner_div">
          
          <div class="msg_div">
            <ion-label>{{item.message}}</ion-label>
          </div>
        </div>
        <ion-icon name="person-circle-sharp" style="color: #08CC5B;margin-top: 5px;width: 25px;height: 25px;"></ion-icon>
      </div>

      <div class="left_div" *ngIf="item.reply_message != null">
        <!-- <div class="left_div" *ngIf="item.from_id != uid"> -->
        <div class="inner_div" >
          <ion-icon name="person-circle-sharp" style="color: #F97012;margin-top: 5px;width: 25px;height: 25px;"></ion-icon>
          <div class="msg_div">
            <ion-label>{{item.reply_message}}</ion-label>
          </div>
        </div>
      </div>
    </span>
  </div>
  <div *ngIf="!yourMessage && loaded" style="display: flex;flex-direction: row-reverse;padding: 20px;">
    <ion-spinner name="dots"></ion-spinner>
  </div>
</ion-content>

<ion-footer>
  <div class="footer_div">
    <ion-input type="text" [(ngModel)]="msg" (keyup.enter)="sendMessage()"
      [placeholder]="util.translate('Type Here..')"></ion-input>
    <div class="chat_div" (click)="sendMessage()">
      <ion-icon name="navigate"></ion-icon>
    </div>
  </div>
</ion-footer>