

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-col size="1">
      <ion-icon (click)="back()" name="arrow-back-outline"></ion-icon>
    </ion-col>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <h2 style="margin-top: 20px; font-size: 17px;margin-left: 20px;"><span><b>Manage Addresses</b></span> </h2>
  <ion-button size="12" color="medium1" style="width: 90%;height: 6%;text-align: center;margin-left: 20px;" (click)="addNewAddress()">Add New Address</ion-button>
  <ion-grid  fixed class="textclass" style="margin-top: 20px;">

    <ion-list *ngIf="from ==='cart'">
      <ion-radio-group allow-empty-selection = "true"
      name="radio-group" (ionChange)="radioGroupChange($event)">
        <ion-item *ngFor="let item of myaddress" class="list" >
          <ion-label class="title">{{item.title}} <br>
            <span class="name">{{item.house}} {{item.landmark}} {{item.address}}</span>
          </ion-label>
          <!-- <ion-label class="name"></ion-label> -->
          <ion-radio [value]="item.id" slot="start" mode="md" se></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <div *ngIf="from ==='account'">
      <ion-row>
        <ion-label floating style="margin-left: 20px;"><b>Existing Addresses</b></ion-label>
      </ion-row>
      <ion-row *ngFor="let item of myaddress" >
       
        <!-- <ion-label floating style="margin-left: 20px;">Address 1</ion-label> -->
      </ion-row>
    
      <div  class="list" *ngFor="let item of myaddress" scrollX="true" style="margin-left: 20px;">
        <div>
        <ion-label floating ><b>{{item.title}}</b></ion-label> 
      </div>
        <ion-label class="name">{{item.house}} {{item.landmark}} {{item.address}}
        </ion-label>
        <ion-col size="10" class="textalign">
          <ion-item>
            <ion-col size="6">
              <ion-label></ion-label>
            </ion-col>
            <ion-col size="3">
              <ion-label style="font-size: 15px;" (click)="edit(item)">EDIT</ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-label style="font-size: 15px;" (click)="delete(item.id,item.address)">DELETE</ion-label>
            </ion-col>
          </ion-item>
        </ion-col>
      </div>
    </div>
  </ion-grid>
  <ion-fab  vertical="bottom" horizontal="end" slot="fixed" *ngIf="selectedAddress" (click)="selectAddress()">
    <ion-fab-button>
      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>