<ion-header >
  <ion-toolbar>
    <ion-title>{{util.translate('Change Location')}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [placeholder]="util.translate('Search location')" select-all (ionChange)="onSearchChange($event)"
    [debounce]="250"  [(ngModel)]="autocomplete1.query">
  </ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems1" (click)="selectSearchResult1(item)">
      {{ item.description }}
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-item>
  </ion-list>
  <ion-button (click)="getLocation()" expand="block" fill="clear" shape="round" color="primary">
    {{util.translate('Use my current location')}}
  </ion-button>
  <p class="ion-text-center"></p>
  <div #map id="map" class="map"></div>
  <div style="margin-top: 20px;padding: 30px;" *ngIf="lat && lng">
    <ion-button (click)="selectedAddress()" expand="block" shape="round" color="primary">
      {{util.translate('Submit')}}
    </ion-button>
  </div>
</ion-content>