
.header_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif !important;
    .support_lbl {
        margin-right: 20px;
        color: red;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }
}

.main_content_div {
    width: 100%;
    padding: 20px;
    font-family: 'IBM Plex Sans', sans-serif !important;
    .line_div {
        height: 1px;
        width: 100%;
        font-family: 'IBM Plex Sans', sans-serif !important;
        background: lightgray;
        margin-top: 10px;
        margin-bottom: 10px;
    }
   

    ion-label {
        display: block;
        font-size: 12px;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }

    .header_lbl {
        font-weight: 600;
        font-size: 20px;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }
    .res_name {
        margin-top: 20px;
        font-weight: 600;
        font-size: 18px;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }
    .res_location {
        margin-top: 10px;
        font-size: 17px;
        width: 90%;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }
    .res_location1 {
        margin-top: 10px;
        font-size: 17px;
        width: 90%;
        font-family: 'IBM Plex Sans', sans-serif !important;
       
    }

    .flex_div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'IBM Plex Sans', sans-serif !important;
        .food_title {
            font-size: 15px;
            font-family: 'IBM Plex Sans', sans-serif !important;
           
        }
        .food_price {
            font-size: 15px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .fav_lbl {
            color: red;
            font-size: 17px;
            border: 1px solid red;
            border-radius: 25px;
            padding: 2px 10px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
    }

    .subNames {
        border-bottom: 1px dashed lightgray;
        padding-bottom: 5px;
        font-family: 'IBM Plex Sans', sans-serif !important;
        .food_title {
            font-size: 15px;
            font-weight: bold;
            font-family: 'IBM Plex Sans', sans-serif !important;
            .veg {
                height: 12px;
                width: 12px;
                font-family: 'IBM Plex Sans', sans-serif !important;
            }
            .rate_lbl {
                background: #b2d9b2;
                border: 1px solid #7bdb7b;
                padding: 3px 8px;
                border-radius: 5px;
                font-size: 17px;
                font-weight: 600;
                font-family: 'IBM Plex Sans', sans-serif !important;
            }
        }
        .flex_titles {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: 'IBM Plex Sans', sans-serif !important;
            .sub_name {
                margin: 0px;
                color: black;
                font-size: 17px;
                font-family: 'IBM Plex Sans', sans-serif !important;
            }
        }
    }

    .card_div {
        border-bottom: 1px dashed lightgray;
        padding-bottom: 5px;
        font-family: 'IBM Plex Sans', sans-serif !important;
        .upper_div {
            display: flex;
            align-items: center;
            font-family: 'IBM Plex Sans', sans-serif !important;
            .veg {
                width: 12px;
                height: 12px;
                font-family: 'IBM Plex Sans', sans-serif !important;
            }
        }

        .lower_div {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: 'IBM Plex Sans', sans-serif !important;
            .rate_lbl {
                background: #b2d9b2;
                border: 1px solid #7bdb7b;
                padding: 3px 8px;
                border-radius: 5px;
                font-size: 17px;
                font-weight: 600;
                font-family: 'IBM Plex Sans', sans-serif !important;
            }
        }
    }

    .prise_lbl {
        position: absolute;
        right: 20px;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }

    .prise_lbl1 {
        position: absolute;
        right: 100px;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }

    .head_gray {
        color: gray;
        font-size: 17px;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }
    .small_lbl {
        font-size: 17px;
        font-family: 'IBM Plex Sans', sans-serif !important;
        margin-bottom: 15px;
    }

    .small_lbl1 {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 15px;
        font-family: 'IBM Plex Sans', sans-serif !important;
    }
    .red_lbl {
        color: black;
        text-align: center;
        margin-top: 10px;
        font-size: 17px;
        margin-left: 45px;
        font-family: 'IBM Plex Sans', sans-serif !important;
        
    }
}

.btn_div {
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Sans', sans-serif !important;
    ion-button {
        font-family: 'IBM Plex Sans', sans-serif !important;
        --border-radius: 0px;
        width: 130px;
    }
    .ratae {
        font-family: 'IBM Plex Sans', sans-serif !important;
        --background: var(--ion-color-warning);
    }
}

.billing {
    padding: 5px 10px;
    font-family: 'IBM Plex Sans', sans-serif !important;
    .singleRow {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: 'IBM Plex Sans', sans-serif !important;
        .headerTitle {
            font-size: 17px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .boldClass {
            font-weight: bold;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .headerTotal {
            font-size: 17px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .priceTotal {
            font-size: 17px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .price {
            font-size: 17px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
    }
    .singleRow1 {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: 'IBM Plex Sans', sans-serif !important;
        border-top: 1px dashed lightgray;
        .headerTitle {
            font-size: 17px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .boldClass {
            font-weight: bold;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .headerTotal {
            font-size: 17px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .priceTotal {
            font-size: 17px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
        .price {
            font-size: 17px;
            font-family: 'IBM Plex Sans', sans-serif !important;
        }
    }
}

.billing {
    padding: 5px 10px;
    font-family: 'IBM Plex Sans', sans-serif !important;
    .singleRow {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        margin-left: 10px;
        margin-right: 10px;
        .headerTitle {
            font-size: 17px;
        }
        .boldClass {
            font-weight: bold;
        }
        .headerTotal {
            font-size: 17px;
        }
        .priceTotal {
            font-size: 17px;
        }
        .price {
            font-size: 17px;
        }
    }
    .singleRow1 {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        margin-left: 10px;
        margin-right: 10px;
        border-top: 1px dashed lightgray;
        .headerTitle {
            font-size: 17px;
        }
        .boldClass {
            font-weight: bold;
        }
        .headerTotal {
            font-size: 17px;
        }
        .priceTotal {
            font-size: 17px;
        }
        .price {
            font-size: 17px;
        }
    }
}
.instructions {
    color: var(--ion-color-primary);
    padding: 5px 10px;
    margin-left: 10px;
    font-family: 'IBM Plex Sans', sans-serif !important;
}
.line_div1 {
    height: 1px;
    width: 70%;
    border-bottom: 1px dashed lightgray;
    background: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line_divs {
    display: flex;
    justify-content: space-between;
    height: 1px;
    width: 100%;
    border-bottom: 1px dashed #f97012;
}

.line_divstop {
    display: flex;
    justify-content: space-between;
    height: 1px;
    width: 100%;
    border-bottom: 1px dashed #f97012;
    margin-top: 10px;
}

.btn_class {
    margin-top: 20px;
    color: white;
    height: 40px;
    width: 130px;
    --border-radius: 0px;
    text-transform: none;
    font-family: 'IBM Plex Sans', sans-serif !important;
    
}
.btn_class1 {
    margin-top: 20px;
    color: white;
    height: 40px;
    width: 130px;
    margin-left: 15px;
    --border-radius: 0px;
    text-transform: none;
    font-family: 'IBM Plex Sans', sans-serif !important;
    
}


.ion-color-medium {
   
    --ion-color-base: #F97012 !important;
    --ion-color-base-rgb: var(--ion-color-medium-rgb, #ffffff) !important;
    --ion-color-contrast: var(--ion-color-medium-contrast, #ffffff) !important;
    --ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: #ffffff !important;
    --ion-color-tint: #ffffff !important;
  }


  .description {
    margin: 0px 5px 0px;
    background-color: #ffffff;
    padding: 12px 0 0;
    margin-left: 20px;
    margin-top: 10px;
    font-family: 'IBM Plex Sans', sans-serif !important;
}


.collapse-accordion ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.collapse-accordion label {
    display: block;
    cursor: pointer;
    padding: 3px 0px 0;
    border-bottom: none;
    position: relative;
}

.collapse-accordion label:hover {
    background: inherit;
}

.collapse-accordion label:after {
    content: "";
position: absolute;
width: 6px;
height: 6px;
text-indent: -9999px;
border-top: 1px solid #000000;
border-left: 1px solid #000000;
transition: all 0.3s ease-in-out;
text-decoration: none;
color: #000000;
-webkit-user-select: none;
user-select: none;
transform: rotate(
225deg
);
top: 50%;
margin-top: -4px;
right: 15px;
}

.collapse-accordion input[type="checkbox"]:checked+label:after {
    transform: rotate(45deg);
    top: 20px;
}

.collapse-accordion input[type="radio"]:checked+label:after {
    transform: rotate(45deg);
    top: 20px;
}

.collapse-accordion label.last {
    border-bottom: none;
}

.collapse-accordion ul ul li {
    padding: 10px;
    background: inherit;
}


.collapse-accordion input[type="checkBox"] {
    position: absolute;
    left: -9999px;
}
.collapse-accordion input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.collapse-accordion input[type="checkBox"]~ul {
    height: 0;
    transform: scaleY(0);
  transition: transform .2s ease-out;
}
.collapse-accordion input[type="radio"]~ul {
    height: 0;
    transform: scaleY(0);
transition: transform .5s ease-out;
}

.collapse-accordion input[type="checkBox"]:checked~ul {
    height: 100%;
    transform-origin: top;
    transition: transform .5s ease-out;
    transform: scaleY(1);
}

.collapse-accordion input[type="radio"]:checked~ul {
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
}

.collapse-accordion input[type="checkBox"]:checked+label {
    background: inherit;
    border-bottom: none;
}
.collapse-accordion input[type="radio"]:checked+label {
    background: inherit;
    border-bottom: none;
}

.collapse-accordion input[type="checkbox"]:checked+label .collpaseText {
    display: block;
}

.collapse-accordion input[type="radio"]:checked+label .collpaseText {
    display: block;
}

.collapse-accordion input[type="checkbox"]:checked+label .expandText {
    display: none;
}

.collapse-accordion input[type="radio"]:checked+label .expandText {
    display: none;
}

.collpaseText {
    display: none;
}
.swiper-pagination { padding: 3px; bottom:0px; .swiper-pagination-bullet { background: #ed1c24; margin: 0 3px;     } }
.Segmentone-content {
background: #d7d8da87;
margin: 10px 0px;
}


.btn_class {
    margin-top: 20px;
    color: white;
    height: 40px;
    width: 130px;
    --border-radius: 0px;
    text-transform: none;
    font-family: 'IBM Plex Sans', sans-serif !important;
    
}
.btn_class1 {
    margin-top: 20px;
    color: white;
    height: 40px;
    width: 130px;
    margin-left: 15px;
    --border-radius: 0px;
    text-transform: none;
    font-family: 'IBM Plex Sans', sans-serif !important;
    
}


.line_table {
    height: 1px;
    width: 100%;
    background: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans', sans-serif !important;
}
.table {   
    border-collapse: collapse;
    width: 100%;
    border: none;
    margin-top: 50px;
    font-family: 'IBM Plex Sans', sans-serif !important;
  }