
<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="util.back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{util.translate('Rate')}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div" *ngIf="util.orderDetails && util.orderDetails.orders">


    <ion-label class="titles"> {{util.translate('Rate by Restaurant')}} </ion-label>
    <div class="desc_div">
      <div class="border_bottom">
        <div>
          <p class="storeName">
          
            <span class="name"> {{util.orderDetails.str_name}} </span>
            <span class="status" (click)="rateStore()">
              <div class="ion-activatable ripple-parent">
                <ion-icon slot="start" color="warning" name="star-outline" style="width: 25px;height: 25px;"></ion-icon>
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              </div>
            </span>
          </p>
          <ion-label class="titles"> {{util.translate('Rate by Food')}} </ion-label>
          <p *ngFor="let order of products" class="items">
            
            <span>{{order.name}}
            </span>
            <span (click)="rateProduct(order)">
              <div class="ion-activatable ripple-parent">
                <ion-icon slot="start" color="warning" name="star-outline"  style="width: 25px;height: 25px;"></ion-icon>
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
              </div>
            </span>
          </p>
        </div>
      </div>

      <ion-label class="titles" *ngIf="util.orderDetails && util.orderDetails.did"> {{util.translate('Rate by Drivers')}}
      </ion-label>

      <div class="card_div">
        <div class="resto_detail">
          <!-- <div class="back_image"
            [ngStyle]="{'background-image':'url('+api.mediaURL+util.orderDetails.driverInfo.cover+'),url(assets/user.png)'}">
          </div> -->
          <div style="margin-left: 10px;" (click)="ratDriver()">
            <ion-label class="res_name">{{util.orderDetails.driverInfo.name}}</ion-label>
            <ion-label class="res_location">
              <ion-icon name="mail-outline"></ion-icon> {{util.orderDetails.driverInfo.email_id}}
            </ion-label>
            <ion-label class="res_location">
              <ion-icon name="call-outline"></ion-icon> {{util.orderDetails.driverInfo.contact_no}}
            </ion-label>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>