
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="util.back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  
  </ion-toolbar>
</ion-header>

<ion-content>

  
  <div class="main_content_div">
  
    <ion-label class="head_lbl">{{util.translate('Rate your Experience')}} <br><span  class="head_lbl" style="margin-top: 20px;">{{name}}</span></ion-label>

    <div class="flex_div">
      <div class="first_div">
        <div class="rate_div" [class.rate1]="rate==1" [class.rate2]="rate==2" [class.rate3]="rate==3"
          [class.rate4]="rate==4" [class.rate5]="rate==5" (click)="onClick(1)"><span>1</span>
          <ion-icon name="star"></ion-icon>
        </div>
        <div class="rate_div" [class.rate2]="rate==2" [class.rate3]="rate==3" [class.rate4]="rate==4"
          [class.rate5]="rate==5" (click)="onClick(2)"><span>2</span>
          <ion-icon name="star"></ion-icon>
        </div>
        <div class="rate_div" [class.rate3]="rate==3" [class.rate4]="rate==4" [class.rate5]="rate==5"
          (click)="onClick(3)"><span>3</span>
          <ion-icon name="star"></ion-icon>
        </div>
        <div class="rate_div" [class.rate4]="rate==4" [class.rate5]="rate==5" (click)="onClick(4)"><span>4</span>
          <ion-icon name="star"></ion-icon>
        </div>
        <div class="rate_div" [class.rate5]="rate==5" (click)="onClick(5)"><span>5</span>
          <ion-icon name="star"></ion-icon>
        </div>
      </div>
      <div class="second_div">
        <ion-label *ngIf="rate==1" class="rate1">{{util.translate('Horrible')}}</ion-label>
        <ion-label *ngIf="rate==2" class="rate2">{{util.translate('Bad')}}</ion-label>
        <ion-label *ngIf="rate==3" class="rate3">{{util.translate('Average')}}</ion-label>
        <ion-label *ngIf="rate==4" class="rate4">{{util.translate('Good')}}</ion-label>
        <ion-label *ngIf="rate==5" class="rate5">{{util.translate('Excellent')}}</ion-label>
      </div>
    </div>


    <div class="line_div"></div>

    <div class="lower_div">
      <ion-label class="head_lbl2">{{util.translate('Anything else you want to add')}} </ion-label>
      <ion-textarea rows="4" [(ngModel)]="comment" [placeholder]="util.translate('Write detailed review here..')">
      </ion-textarea>

      <ion-label class="small_gray">
        {{util.translate('Be polite and friendly. This is a place for love and feedback, not hate. You can use @friends
        and #tags as well.')}}
      </ion-label>
    </div>
    <div class="line_div"></div>

  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="submit()" expand="block" class="sub_btn">
      {{util.translate('Submit Dining Review')}}
    </ion-button>
  </ion-toolbar>
</ion-footer>